* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

.center_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    background-color: #E0E1E2;
    padding-bottom: 48px;
}

.navbar {
    padding-top: 25px;
    padding-bottom: 0;
}

.navbar>.container-fluid {
    justify-content: center;
}

.navbar-toggler {
    position: absolute;
    right: 28px;
    top: 25px;
    border: none;
    padding: 0;
}

.navbar-toggler-svg {
    width: 30px;
    height: 16px;
}

.navbar-toggler:focus, .navbar-toggler:hover {
    box-shadow: none;
    transform: scale(1.2);
}

.navbar-collapse {
    background: #2F3132;
}

.navbar-nav {
    padding-bottom: 208px;
    padding-top: 113px;
}

.container-fluid {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #C4C4C4;
    text-transform: uppercase;
    padding: 0;
    margin-top: 35px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    text-decoration: underline;
    /* border-bottom: 1px solid white; */
    color: #FFFFFF;
}

.collapse-header {
    display: flex;
    justify-content: center;
    margin-top: -64px;
    padding-top: 25px;
    background: #2F3132;
}

.collapse-heder__exit {
    position: absolute;
    top: 20px;
    right: 26px;
}

.collapse-heder__exit>svg {
    width: 35px;
    height: 35px;
}

.collapse.show~.navbar-toggler {
    opacity: 0;
    z-index: 1;
}

.header__logo {
    width: 130px;
    height: 39px;
}

.header__logo_white {
    display: none;
}

.top__img {
    height: 230px;
    background-image: url(img/MX-Master\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 94px;
    margin-bottom: 67px;
}

.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 0;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 0;
}

.top__text-margin {
    margin-left: 59px;
    margin-right: 59px;
}

.top__arrow {
    margin-top: 40px;
}

.bluetooth {
    background-color: #EDEDED;
    padding-top: 42px;
    padding-bottom: 18px;
}

.bluetooth__icon {
    margin-bottom: 27px;
}

.text__margin {
    margin-left: 34px;
    margin-right: 33px;
    margin-top: 20px;
    margin-bottom: 0;
}

.bluetooth__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #C4C4C4;
}

.bluetooth__img {
    background-image: url(img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 288px;
    margin-top: 31px;
}

.info {
    background-color: #FFFFFF;
    padding-top: 70px;
    padding-bottom: 63px;
}

.info__text-margin {
    margin-left: 67px;
    margin-right: 61px;
}

.info__content {
    display: flex;
    justify-content: center;
    margin: 30px 19px 28px 19px;
    gap: 6px;
}

.info__item {
    border: 1px solid #2F3132;
    flex-basis: 166px;
    min-height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__item-heading {
    margin-bottom: 5px;
}

.info__carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile {
    display: block;
}

.tablet {
    display: none;
}

.descktop {
    display: none;
}

.info__carousel-heading {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-top: 28px;
    margin-bottom: 0;
}

.info__carousel-indicators {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 308px;
    width: 100%;
}

.info__carousel-indicators [data-bs-target] {
    background: none;
    margin: 0;
    border: 0;
    width: auto;
    height: auto;
    border-radius: 50%;
    opacity: 1;
}

.info__carousel-indicators>:hover {
    transform: scale(1.2);
}

.info__carousel-indicators .active {
    transform: scale(1.2);
}

.cover__indicator {
    display: block;
    width: 30px;
    height: 30px;
}

.info__carousel-control-prev-icon, .info__carousel-control-next-icon {
    background: none;
    width: auto;
    height: auto;
}

.info__carousel-control-prev, .info__carousel-control-next {
    z-index: 3;
    height: 92%;
    width: 27%;
}

.info__carousel-control-next:hover~.info__carousel-indicators>.info__carousel-control-next-icon {
    transform: scale(1.2);
}

.info__carousel-control-prev:hover~.info__carousel-indicators>.info__carousel-control-prev-icon {
    transform: scale(1.2);
}

.flow {
    padding-top: 70px;
    padding-bottom: 219px;
    background-color: #EDEDED;
    background-image: url(img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.flow__ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 36px;
    margin-left: 54px;
    margin-right: 99px;
    margin-bottom: 0;
    padding: 0;
}

.flow__li {
    list-style-position: inside;
    text-align: left;
}

.settings {
    background: #EDEDED;
    padding-top: 70px;
    padding-bottom: 0;
}

.settings__img-big {
    display: none;
}

.settings__carousel {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings__carousel-inner {
    width: 100%;
    max-width: 330px;
}

.settings__carousel-item {
    text-align: center;
}

.settings__carousel-control {
    width: 40%;
    height: 95%;
}

.settings__carousel-indicators {
    margin-top: 21px;
    margin-bottom: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.settings__carousel-indicators [data-bs-target] {
    background: #C4C4C4;
    margin: 0;
    border: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: 1;
}

.settings__carousel-indicators .active {
    background: #2F3132;
}

.settings__content {
    background: #C4C4C4;
    margin-top: 60px;
    padding-top: 23px;
    padding-bottom: 26px;
}

.settings__icons {
    display: flex;
    justify-content: space-around;
    height: 22px;
}

.settings__text {
    color: #FFFFFF;
}

.mouse {
    background: #FFFFFF;
    padding-top: 0;
    padding-bottom: 0;
}

.mouse__text {
    padding-top: 70px;
}

.mouse__img {
    margin-top: 20px;
    height: 310px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mouse__img_1 {
    background-image: url(img/image\ 1.png);
}

.mouse__img_2 {
    background-image: url(img/image\ 2.png);
}

.footer {
    height: 75px;
    background: #2F3132;
    padding-top: 22px;
}

.footer__text {
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 8px;
    text-align: center;
    color: #C7C8C8;
}

@media(min-width: 768px) {
    .top {
        padding-bottom: 80px;
    }
    .header__logo {
        width: 240px;
        height: 73px;
    }
    .navbar-nav {
        padding-bottom: 141px;
        padding-top: 64px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 40px;
        line-height: 47px;
        margin-top: 59px;
    }
    .collapse-header {
        margin-top: -127px;
        padding-top: 54px;
    }
    .collapse-heder__exit {
        position: absolute;
        top: 40px;
        right: 58px;
    }
    
    .collapse-heder__exit>svg {
        width: 60px;
        height: 60px;
    }
    .navbar {
        padding-top: 54px;
    }
    .navbar-toggler {
        right: 58px;
        top: 54px;
    }
    .navbar-toggler-svg {
        width: 61px;
        height: 32px;
    }
    .top__img {
        height: 514px;
        background-image: url(img/MX-Master\ 1\ tablet.png);
        margin-top: 160px;
        margin-bottom: 124px;
    }
    .heading {
        font-size: 40px;
        line-height: 47px;
    }
    .text {
        font-size: 24px;
        line-height: 28px;
    }
    .top__text-margin {
        margin-left: 154px;
        margin-right: 155px;
    }
    .top__arrow {
        margin-top: 76px;
    }
    .top__arrow-svg {
        width: 57px;
        height: 29px;
    }
    .bluetooth {
        padding-top: 80px;
        padding-bottom: 0;
    }
    .bluetooth__icon {
        margin-bottom: 32px;
    }
    .bluetooth__icon-svg {
        width: 21px;
        height: 40px;
    }
    .text__margin {
        margin-left: 77px;
        margin-right: 77px;
        margin-top: 30px;
        margin-bottom: 0;
    }
    .bluetooth__heading {
        font-size: 150px;
        line-height: 176px;
    }
    .bluetooth__img {
        background-image: url(img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1\ tablet.png);
        height: 597px;
        margin-top: 76px;
        margin-left: 39px;
        margin-right: 19px;
    }
    .info {
        padding-bottom: 61px;
    }
    .info__content {
        margin: 50px 132px;
        gap: 30px;
    }
    .info__item {
        flex-basis: 300px;
        min-height: 170px;
    }
    .info__carousel-heading {
        margin-top: 50px;
        font-size: 24px;
        line-height: 28px;
    }
    .info__carousel-indicators {
        margin-top: 23px;
        max-width: 404px;
    }
    .cover__indicator {
        width: 40px;
        height: 40px;
    }
    .info__carousel-control-svg {
        width: 15px;
        height: 30px;
    }
    .info__carousel-text-margin {
        margin-top: 22px;
    }
    .tablet {
        display: inline;
    }
    .mobile {
        display: none;
    }
    .flow {
        padding-bottom: 492px;
        background-image: url(img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ tablet.png);
    }
    .flow__heading {
        margin-left: 20px;
        margin-right: 20px;
    }
    .flow__text-margin {
        margin-left: 64px;
        margin-right: 65px;
    }
    .flow__ol {
        flex-direction: row;
        align-items: flex-start;
        gap: 0;
        margin-top: 62px;
        margin-left: 67px;
        margin-right: 68px;
    }
    .flow__text {
        font-size: 20px;
        line-height: 23px;
        padding: 8px 21px 4px 24px;
        border-left: 1px solid #494949;
    }
    .flow__text:first-child {
        border-left: none;
        padding-left: 0;
    }
    .flow__text:last-child {
        padding-right: 0;
    }
    .settings {
        padding-bottom: 70px;
        padding-left: 64px;
        padding-right: 65px;
    }
    .settings__text-margin {
        margin-left: 0;
        margin-right: 0;
    }
    .settings__content {
        margin-top: 70px;
        padding-top: 38px;
        padding-bottom: 29px;
    }
    .settings__icons {
        margin-left: 127px;
        margin-right: 126px;
        height: 35px;
    }
    .settings__text {
        font-size: 20px;
        line-height: 23px;
        margin-left: 68px;
        margin-right: 68px;
    }
    .settings__carousel {
        margin-top: 54px;
    }
    .settings__carousel-inner {
        max-width: 497px;
    }
    .settings__carousel-indicators {
        margin-top: 53px;
        gap: 25px;
    }
    .settings__carousel-indicators [data-bs-target] {
        width: 25px;
        height: 25px;
    }
    .mouse__text-margin {
        margin-top: 30px;
        margin-left: 67px;
        margin-right: 65px;
    }
    .mouse__img {
        margin-top: 50px;
        height: 549px;
    }
    .mouse__img_1 {
        background-image: url(img/image\ 1\ tablet.png);
    }
    .mouse__img_2 {
        background-image: url(img/image\ 2\ tablet.png);
    }
    .footer {
        height: 150px;
        padding-top: 47px;
    }
    .footer__text {
        font-size: 14px;
        line-height: 16px;
    }
}

/* This media is for bootstap navbar */

@media(min-width: 992px) {
    .center {
        padding-right: calc(50% - 580px);
        padding-left: calc(50% - 580px);
    }
    .header {
        height: 100px;
        background: #2F3132;
        display: flex;
        align-items: center;
    }
    .header__logo {
        width: 150px;
        height: 45px;
        margin-left: 61px;
    }
    .header__logo_white {
        display: block;
    }
    .header__logo_dark {
        display: none;
    }
    .navbar {
        padding-top: 0;
        width: 100%;
    }
    .navbar-nav {
        padding-bottom: 0;
        padding-top: 0;
    }
    .collapse-header {
        display: none;
    }
    .navbar-light .navbar-nav {
        width: 100%;
        justify-content: space-around;
        max-width: 860px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 1px solid transparent;
        color: #FFFFFF;
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
    }
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        border-bottom: 1px solid white;
        color: #FFFFFF;
    }
    .menu-desctop {
        display: flex;
        margin-left: 50px;
        justify-content: flex-end;
    }
    .nav-devim {
        border-right: 1px solid #494949;
    }
    .nav-item:first-child {
        padding-left: 0;
    }
    .nav-item:last-child {
        padding-right: 0;
        border-right: none;
    }
}

@media(min-width: 1024px) {
    .top__img {
        height: 591px;
        background-image: url(img/MX-Master\ 1\ desctop.png);
        margin-top: 70px;
        margin-bottom: 8px;
        background-size: auto;
    }
    .heading {
        font-size: 36px;
        line-height: 42px;
    }
    .text {
        font-size: 20px;
        line-height: 23px;
    }
    .top__arrow {
        margin-top: 49px;
    }
    .top {
        padding-bottom: 56px;
    }
    .bluetooth {
        padding-top: 45px;
        padding-bottom: 48px;
    }
    .bluetooth__icon {
        margin-bottom: 41px;
    }
    .text__margin {
        margin-top: 35px;
        width: 765px;
    }
    .bluetooth__img {
        background-image: url(img/High_Resolution_PNG-MX\ Master\ 3\ FRONT\ GRAPHITE\ 1.png), url(img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1\ tablet.png);
        background-position: left 158px, right 109px;
        background-repeat: no-repeat, no-repeat;
        background-size: 525px, 630px;
        height: 426px;
        margin-top: 14px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        max-width: 1160px;
    }
    .bluetooth__heading_day {
        font-size: 300px;
        line-height: 352px;
        padding-left: 70px;
    }
    .bluetooth__heading_day-mini {
        padding-top: 45px;
    }
    .bluetooth__heading {
        font-size: 96px;
        line-height: 112px;
        display: flex;
        justify-content: center;
    }
    .info__item {
        flex-basis: 236px;
        min-height: 140px;
    }
    .info__carousel-inner {
        max-width: 1280px;
    }
    .info__carousel-control-prev, .info__carousel-control-next {
        width: 31%;
    }
    .info__carousel-heading {
        margin-top: 29px;
        font-size: 20px;
        line-height: 23px;
    }
    .info {
        padding-bottom: 70px;
    }
    .tablet {
        display: none;
    }
    .descktop {
        display: inline;
    }
    .flow__text-margin {
        min-width: 958px;
    }
    .flow {
        padding-bottom: 653px;
        background-image: url(img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ descktop.png);
    }
    .flow__ol {
        width: 958px;
        margin-top: 71px;
    }
    .settings {
        padding-bottom: 71px;
        padding-left: 0;
        padding-right: 0;
    }
    .settings__carousel {
        display: none;
    }
    .settings__img-big {
        display: block;
        width: 100%;
        max-width: 1171px;
        height: 640px;
        margin-top: 54px;
        background-image: url(img/settings_big.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .settings__content {
        margin-top: 0;
        padding-top: 38px;
        padding-bottom: 29px;
    }
    .settings__text {
        margin-top: 25px;
    }
    .mouse {
        display: flex;
        flex-wrap: wrap;
    }
    .mouse__item {
        margin-top: 0;
        height: 557px;
        width: 50%;
    }
    .mouse__img_1 {
        order: 0;
        background-image: url(img/image\ 1\ descktop.png);
        background-position: bottom right;
    }
    .mouse__text_1 {
        order: 1;
    }
    .mouse__text_2 {
        order: 2;
    }
    .mouse__img_2 {
        order: 3;
        background-image: url(img/image\ 2\ descktop.png);
        background-position: top left;
    }
    .mouse__text_1 {
        padding-top: 121px;
        padding-left: 36px;
    }
    .mouse__text_1>.heading {
        text-align: left;
        width: 400px;
    }
    .mouse__text_1>.mouse__text-margin {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        width: 400px;
    }
    .mouse__text_2 {
        padding-top: 162px;
        padding-right: 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .mouse__text_2>.heading {
        text-align: right;
        width: 400px;
    }
    .mouse__text_2>.mouse__text-margin {
        text-align: right;
        margin-left: 0;
        margin-right: 0;
        width: 400px;
    }
}

@media(min-width: 1400px) {
    .top {
        padding-bottom: 80px;
    }
    .top__img {
        margin-top: 100px;
    }
    .bluetooth {
        padding-top: 80px;
        padding-bottom: 90px;
    }
    .info {
        padding-bottom: 100px;
        padding-bottom: 100px;
    }
    .flow {
        padding-top: 100px;
        padding-bottom: 870px;
        background-image: url(img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ big.png);
        max-width: 1920px;
    }
    .settings {
        padding-bottom: 100px;
        padding-top: 100px;
    }
    .mouse {
        padding-bottom: 100px;
        padding-top: 100px;
    }
}