* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

.center_content {
    display: flex;
    justify-content: center;
}

.top {
    background-color: #E0E1E2;
    padding-top: 25px;
    padding-bottom: 48px;
}

.top__img {
    height: 230px;
    background: url(img/MX-Master\ 1.png) no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 94px;
    margin-bottom: 67px;
}

.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 0;
}

.top__text-margin {
    margin-left: 59px;
    margin-right: 59px;
}

.top__arrow {
    margin-top: 40px;
}

.bluetooth {
    background-color: #EDEDED;
    padding-top: 42px;
    padding-bottom: 18px;
}

.bluetooth__icon {
    margin-bottom: 27px;
}

.text__margin {
    margin-left: 34px;
    margin-right: 33px;
    margin-top: 20px;
    margin-bottom: 0;
}

.bluetooth__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #C4C4C4;
}

.bluetooth__img {
    background: url(img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png) no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 288px;
    margin-top: 31px;
}

.info {
    background-color: #FFFFFF;
    padding-top: 70px;
    padding-bottom: 63px;
}

.info__text-margin {
    margin-left: 67px;
    margin-right: 61px;
    margin-top: 20px;
}

.info__content {
    display: flex;
    justify-content: center;
    margin: 30px 19px 28px 19px;
    gap: 6px;
}

.info__item {
    border: 1px solid #2F3132;
    flex-basis: 166px;
    min-height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__item-heading {
    margin-bottom: 5px;
}

.info__carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__carousel-heading {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-top: 28px;
}

.info__carousel-indicators {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 308px;
    width: 100%;
}

.info__carousel-indicators [data-bs-target] {
    background: none;
    margin: 0;
    border: 0;
    width: auto;
    height: auto;
    border-radius: 50%;
    opacity: 1;
}

.info__carousel-indicators>:hover {
    transform: scale(1.2);
}

.info__carousel-indicators .active {
    transform: scale(1.2);
}

.cover__indicator {
    display: block;
}

.info__carousel-control-prev-icon, .info__carousel-control-next-icon {
    background: none;
    width: auto;
    height: auto;
}

.info__carousel-control-prev, .info__carousel-control-next {
    z-index: 3;
    height: 352px;
}

.info__carousel-control-next:hover~.info__carousel-indicators>.info__carousel-control-next-icon {
    transform: scale(1.2);
}

.info__carousel-control-prev:hover~.info__carousel-indicators>.info__carousel-control-prev-icon {
    transform: scale(1.2);
}

.flow {
    padding-top: 70px;
    padding-bottom: 219px;
    background: #EDEDED url(img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png) bottom no-repeat;
}

.flow__ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 36px;
    margin-left: 54px;
    margin-right: 99px;
    margin-bottom: 0;
    padding: 0;
}

.flow__li {
    list-style-position: inside;
    text-align: left;
}

.settings {
    background: #EDEDED;
    padding-top: 70px;
    padding-bottom: 0;
}

.settings__carousel {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings__carousel-inner {
    width: 100%;
    max-width: 330px;
}

.settings__carousel-item {
    text-align: center;
}

.settings__carousel-indicators {
    margin-top: 21px;
    margin-bottom: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.settings__carousel-indicators [data-bs-target] {
    background: #C4C4C4;
    margin: 0;
    border: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: 1;
}

.settings__carousel-indicators .active {
    background: #2F3132;
}

.settings__content {
    background: #C4C4C4;
    margin-top: 60px;
    padding-top: 23px;
    padding-bottom: 26px;
}

.settings__icons {
    display: flex;
    justify-content: space-between;
    gap: 22px;
    margin-left: 29px;
    margin-right: 22px;
}

.settings__text {
    color: #FFFFFF;
}

.mouse {
    background: #FFFFFF;
    padding-top: 0;
    padding-bottom: 0;
}

.mouse__text {
    padding-top: 70px;
}

.mouse__img {
    margin-top: 20px;
    height: 310px;
    background-size: contain;
}

.mouse__img_1 {
    background: url(img/image\ 1.png) center no-repeat;
}

.mouse__img_2 {
    background: url(img/image\ 2.png) center no-repeat;
}

.footer {
    height: 75px;
    background: #2F3132;
    padding-top: 22px;
}

.footer__text {
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 8px;
    text-align: center;
    color: #C7C8C8;
}